       
       <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/home">Air Park &amp; Save</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right b-navbar">
                        <li class="hidden b-navbar__item">
                            <a href="#page-top">Home page</a>
                        </li>
                        <li class="page-scroll b-navbar__item">
                            <a href="#/i-have-a-spot/register">I have a spot!</a>
                        </li>
                        <li class="page-scroll b-navbar__item">
                            <a href="#/i-need-a-spot">I need a spot!</a>
                        </li>
                        <li class="page-scroll" >
                           <p class="b-navbar__login-name" id="UserName">
            
                        </p> 
                        </li>
                        <li class="page-scroll " >
                            <form id="logout" >
                                <button type="submit" class="btn btn-submit">Log out</button>
                            </form>
                            
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
         