
<div id="header-style"><div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="intro-text" id="present_text" style="display:none;">
                <span class="name" >Your driveway away from home is just one click away</span><!--lass="skills"-->
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
        <div class="col-sm-6 col-lg-4 col-lg-offset-2">
            <a href="#/main/sign-up" class="btn btn-outline btn-lg" role="button" >
                <div id="signup_button" style="display:none;">
                    <span>Sign-up now! &raquo;</span>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-4">
           <a href="#/main/search-spot"  class="btn btn-outline btn-lg" role="button">
                     <div id="search_button" style="display:none;">
                    <!--<input type=text placeholder="Enter Address" class="form-control" name='address'>-->
                    <span>Find a spot nearby! &raquo;</span>
     </div>

          </a>
    </div>
    <!--container-->
    <br/>
    <br/>
</div>
</div>

