            <tr  >
                       <td><%= day %></td>
                       <td><%= initialTime %></td>
                       <td><%= finalTime %></td>
                       <td>
                             <button type="button" data-id= "<%= spotstime_id %>" class="edit-spotstime btn btn-default btn-edit "><i class="fa fa-fw fa-edit"></i>
                             </button>
                            <button type="button" data-id= "<%= spotstime_id %>" class="remove-spotstime btn btn-default btn-edit "><i class="fa fa-fw fa-remove"></i>
                            </button>
                      </td>
            </tr>   
